rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /{document=**} {
            allow read, write: if false;
        }

        match /posts/{postId} {
            allow create: if createPostRules();
            allow update: if updatePostRules();
            allow read: if readPostRules();
            allow delete: if false;

            function validatePostFields() {
                let hasOnly = request.resource.data.keys().hasOnly(["active" , "created" , "description" , "name" , "hasExpiration" , "expires" , "image" , "uid" , "userName"]) ;
                let types = request.resource.data.active is bool //
                && request.resource.data.created is timestamp //
                && request.resource.data.description is string //
                && request.resource.data.name is string //
                && request.resource.data.hasExpiration is bool //
                && ((!request.resource.data.hasExpiration && !("expires" in request.resource.data.keys())) || //
                (request.resource.data.expires is timestamp && request.resource.data.expires > request.time)) //
                && (!("image" in request.resource.data.keys()) || request.resource.data.image.matches('images/posts/[0-9a-f-.]*.[a-z.]*')) //
                && request.resource.data.uid is string //
                && request.auth.token.name == request.resource.data.userName;
                return hasOnly && types;
            }

            function createPostRules() {
                let uidEqual = request.auth.uid == request.resource.data.uid;
                let hasAll = request.resource.data.keys().hasAll(["active" , "created" , "description" , "name" , "hasExpiration" , "uid" , "userName"]) ;
                let activeTrue = request.resource.data.active ;
                let createdNow = request.resource.data.created == request.time;
                return validatePostFields() && uidEqual && hasAll && activeTrue && createdNow;
            }

            function updatePostRules() {
                let uidEqual = request.auth.uid == resource.data.uid;
                let hasOnly = request.resource.data.diff(resource.data).affectedKeys().hasOnly(["active" , "description" , "name" , "expires" , "image" , "userName"]) ;
                let activeOnly = !request.resource.data.diff(resource.data).affectedKeys().hasAny(["active"]) || request.resource.data.diff(resource.data).affectedKeys().hasOnly(["active"]);
                let hasExpirationOrNoExpires = resource.data.hasExpiration || !request.resource.data.diff(resource.data).affectedKeys().hasAny(["expires"]);
                return validatePostFields() && uidEqual && hasOnly && activeOnly && hasExpirationOrNoExpires;
            }

            function readPostRules() {
                let seeActive = resource.data.active == true || request.auth.uid == resource.data.uid;
                let seeUnexpired = !resource.data.hasExpiration || //
                (request.time < resource.data.expires) || //
                request.auth.uid == resource.data.uid; //
                return seeActive && seeUnexpired;
            }
        }
    }
}