rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /{document=**} {
            allow read, write: if false;
        }

        match /posts/{postId} {
            allow create: if createPostRules();
            allow update: if updatePostRules();
            allow read: if resource.data.active == true || request.auth.uid == resource.data.uid;
            allow delete: if request.auth.uid == resource.data.uid;

            function createPostRules() {
                let uidEqual = request.auth.uid == request.resource.data.uid;
                let hasAll = request.resource.data.keys() .hasAll(["active" , "created" , "description" , "name" , "hasExpiration" , "uid" , "userName"]);
                let activeTrue = request.resource.data.active;
                let createdNow = request.resource.data.created == request.time;
                return validatePostFields() && uidEqual && hasAll && activeTrue && createdNow;
            }

            function updatePostRules() {
                let uidEqual = request.auth.uid == resource.data.uid;
                let hasOnly = request.resource.data.diff(resource.data) .affectedKeys() .hasOnly(["active" , "description" , "name" , "expires" , "image" , "userName"]);
                let activeOnly = !request.resource.data.diff(resource.data) .affectedKeys() .hasAny(["active"]) || request.resource.data.diff(resource.data) .affectedKeys() .hasOnly(["active"]);
                let updateInactive = !request.resource.data.active || !request.resource.data.diff(resource.data) .affectedKeys() .hasAny(["description" , "name" , "expires" , "image" , "userName"]);
                let hasExpirationOrNoExpires = resource.data.hasExpiration || !request.resource.data.diff(resource.data) .affectedKeys() .hasAny(["expires"]);
                return validatePostFields() && uidEqual && hasOnly && activeOnly && updateInactive && hasExpirationOrNoExpires;
            }

            function validatePostFields() {
                let hasOnly = request.resource.data.keys().hasOnly(["active" , "created" , "description" , "name" , "hasExpiration" , "expires" , "image" , "uid" , "userName"]);
                let types = request.resource.data.active is bool
                            && request.resource.data.created is timestamp
                            && request.resource.data.description is string
                            && request.resource.data.name is string
                            && request.resource.data.hasExpiration is bool
                            && ((!request.resource.data.hasExpiration && !("expires" in request.resource.data.keys())) || //
                                (request.resource.data.expires is timestamp && request.resource.data.expires > request.time))
                            && (!("image" in request.resource.data.keys()) || request.resource.data.image.matches('images/posts/[0-9a-f-.]*.[a-zA-Z.]*'))
                            && request.resource.data.uid is string
                            && request.auth.token.name == request.resource.data.userName;
                return hasOnly && types;
            }
        }

        match /chats/{chatId} {
            allow create: if createChatRules();
            allow update: if updateChatRules();
            allow read: if isMember(resource.data.uids);
            allow delete: if isMember(resource.data.uids) && resource.data.uids.size() == 2;

            function createChatRules() {
                let hasAll = request.resource.data.keys().hasAll(["individual" , "created" , "updated" , "uids" , "members" ]);
                let individualRule = (request.resource.data.individual && request.resource.data.uids.size() == 2)
                                     || (!request.resource.data.individual && request.resource.data.uids.size() > 2);
                let createdNow = request.resource.data.created == request.time;
                return validateChatFields() && isMember(request.resource.data.uids) && updatedNow()
                       && hasAll && individualRule && createdNow;
            }

            function updateChatRules() {
                let hasOnly = diffHasOnly(["uids" , "members" , "name" , "recentMessage"]);
                let singleField = diffHasOnly(["name"])
                                  || diffHasOnly(["recentMessage"])
                                  || diffHasOnly(["uids", "members"]);
                let individualRule = !resource.data.individual || !diffHasAny(["uids", "members"]);
                let membersMatchIds = !diffHasAny(["uids", "members"])
                                      || request.resource.data.uids.size() == request.resource.data.members.size();
                let removeSelf = !diffHasAny(["uids", "members"])
                                 || request.resource.data.uids.size() > resource.data.uids.size()
                                 || (resource.data.uids.size() - request.resource.data.uids.size() == 1
                                     && !isMember(request.resource.data.uids));
                return validateChatFields() && isMember(resource.data.uids)  && updatedNow()
                       && hasOnly && singleField && individualRule && membersMatchIds && removeSelf;
            }

            function updatedNow() {
                return request.resource.data.updated == request.time;
            }
            function isMember(uids) {
                return uids.hasAll([request.auth.uid]);
            }
            function diffHasOnly(fields) {
                return request.resource.data.diff(resource.data) .affectedKeys() .hasOnly(fields.concat(["updated"]));
            }
            function diffHasAny(fields) {
                return request.resource.data.diff(resource.data) .affectedKeys() .hasAny(fields);
            }
            function diffHasAll(fields) {
                return request.resource.data.diff(resource.data) .affectedKeys() .hasAll(fields.concat(["updated"]));
            }

            function validateChatFields() {
                let hasOnly = request.resource.data.keys().hasOnly(["individual" , "created" , "updated" , "uids" , "members" , "name" , "recentMessage"]);
                let types = request.resource.data.individual is bool
                            && request.resource.data.created is timestamp
                            && request.resource.data.updated is timestamp
                            && request.resource.data.uids is list
                            && request.resource.data.uids[0] is string
                            && request.resource.data.members is list
                            && request.resource.data.members[0] is map
                            && validateMembers(request.resource.data.members[0])
                            && request.resource.data.name is string
                            && request.resource.data.recentMessage is string;
                return hasOnly && types;
            }

            function validateMembers(members) {
                return members.keys().hasOnly(["uid", "name"])
                       && members.keys().hasAll(["uid", "name"])
                       && members.uid is string
                       && members.name is string;
            }
        }
    }
}